{% extends "base.html" %}
{% block content %}
  <h1>Model: {{ car.model }}</h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <h3>
    Drivers
    <form action="{% url 'taxi:toggle-car-assign' pk=car.pk %}" method="post" class="d-inline float-right">
      {% csrf_token %}
      {% if user in car.drivers.all %}
        <button type="submit" class="btn btn-danger">Delete me from this car</button>
      {% else %}
        <button type="submit" class="btn btn-success">Assign me to this car</button>
      {% endif %}
    </form>
  </h3>
  <hr>

  {% for driver in car.drivers.all %}
    <p><strong>Username:</strong> {{ driver.username }}</p>
    <p><strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
    <p><strong>License number:</strong> {{ driver.license_number }}</p>
    <hr>
  {% endfor %}

  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">Update</a>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
